@tailwind base;

@tailwind components;

@tailwind utilities;


@font-face {
  font-family: 'Gotham';
  src: url('../src/assets/fonts/gotham-rounded/GothamRounded-Book.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../src/assets/fonts/gotham-rounded/GothamRounded-Book.otf') format('otf');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'Gotham-medium';
  src: url('../src/assets/fonts/gotham-rounded/GothamRounded-Medium.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mexcellent';
  src: url('../src/assets/fonts/mexcellent/mexcellent 3d.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}