.fridge {
    display: block;
    width: 400px;
    height: 500px;
    background: url('../assets/images/svg/fridge.svg');
    background-repeat: no-repeat;
    background-size: 110% 110%;
    position: absolute;
    left: 48%;
    top: 50%;
    transform: translate(-45%, -50%);
    z-index: 0;
}

.fridge_inside {
  position: relative;
  top: 70px;
  z-index: 10;
  text-align: center;
}



.modal-background {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
  background-color: rgba(0,0,0,0.75);
  position: absolute;
}

.modal-box {
	height: 200px;
	width: 600px;
	border-radius: 5px;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
	background-color: whitesmoke;
 padding: 10px 15px;
  background-color:#fff;
  border: 8px solid #8de0a8

}